.con {
    img.back-image{
        height: 700px !important;
        width: 100% !important;
        overflow: hidden;
    }
  .mask {
    height: 877px;
    background: rgba(32, 35, 40, 0.46);
  }
  .content {
      background-color: rgba(32, 35, 40, 0.7);
    .banner {
        width: 40rem;
    }
  }
}
